@page "/fetchdata"
@using Shopik.Shared.Shop
@using Shopik.Shared.Shop.Dto

@inject IShopItemFacade ShopItemFacade

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (shopItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shopItem in shopItems)
            {
                <tr>
                    <td>@shopItem.Id</td>
                    <td>@shopItem.DisplayName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ShopItemViewModel> shopItems;

    protected override async Task OnInitializedAsync()
    {
        shopItems = await ShopItemFacade.GetAllAsync();
    }
}
