@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <NavBarLogo />
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu">
                                <li><a href="documentation.html#contact">Contact Form</a></li>
                                <li><a href="documentation.html#reservation">Reservation Form</a></li>
                                <li><a href="documentation.html#mailchimp">Mailchimp</a></li>
                                <li><a href="documentation.html#gmap">Google Map</a></li>
                                <li><a href="documentation.html#plugin">Plugins</a></li>
                                <li><a href="documentation.html#changelog">Changelog</a></li>
                            </ul>
                        </li>

            </ul>
        </div>
    </div>
</nav>

@code {

    string? GetUsername(ClaimsPrincipal claimsPrincipal)
    {
        return claimsPrincipal.Identity?.Name;
    }
}