@using Shopik.Shared.Shop.Dto
@code {
    [Parameter]
    public List<ShopItemViewModel>? ShopItems { get; set; }
}

<div class="grid">
    @if (ShopItems != null)
    {
        foreach (var shopItem in ShopItems)
        {
            <div><img src="@shopItem.ImageUrl" alt=""></div>
        }
    }
    
</div>