@using Shopik.Shared.Shop.Dto
@using static Shopik.Client.Components.Module
@code {
    [Parameter]
    public string? CategoryName { get; set; }

    [Parameter]
    public IEnumerable<ShopItemViewModel>? ShopItems { get; set; }
}

<Module Title="@CategoryName" Type=ModuleType.Small>
    <div class="row multi-columns-row">
        @if (ShopItems != null)
        foreach (var shopItem in ShopItems)
        {
            <ShopItem DisplayName=@shopItem.DisplayName ImageUrl=@shopItem.ImageUrl Price=@shopItem.Price />
        }
    </div>
</Module>
